@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
/* Fonte montserrat do google */

html, body {
  height: 100%; /* Essencial para a responsividade */
  width: 100%;	/* Essencial para a responsividade */
  font-family: 'Montserrat', sans-serif;

}
* {
  box-sizing: border-box;
}

/*--- Media Queries (Podemos adicionar um ponto de interrupção em que certas partes do
design se comportarão de maneira diferente em cada lado do ponto de interrupção.)--*/

/*---------------------------------------------------------------------------------------*/

/*CLASSES COMPARTILHADAS*/

/*---------------------------------------------------------------------------------------*/
.drk:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

.divisoria-titulo{
  width: 16rem;
  border-top: 0.5rem solid #43A23B;
  padding-bottom: 4% !important;
}
.secao-titulo{
  text-align: center;
  font-size: 2.7rem;
}
.btn {
	color: #ffffff !important;
	background-color: #43A23B !important;
	width: 25%;
	box-shadow: 0px 2px 5px #00000060;
}

.card-img-top{
  min-height: 200px!important;
  width: 100%;
  max-width: 100%;
  display: block;

}
.card-body{
  background-color: #FAFAFA!important;
}


/*---------------------------------------------------------------------------------------*/

/*SEÇÃO HOME*/

/*---------------------------------------------------------------------------------------*/
.carousel-inner img{
	width: 100%;
}
.carousel-caption {
	position: absolute;
	transform: translateY(-50%);
  top: 58%;
  text-shadow: 0px 2px 8px #000000b0;
}
.carousel-caption h1 {
  font-size: 2.5rem;


}
.carousel-caption h5 {
	font-size: 1.5rem;
	padding-bottom: 2rem;
}
/*---------------------------------------------------------------------------------------*/

/*QUEM SOMOS*/

.teste{
  margin: 10px auto 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}
.teste .card{
  position: relative;
  width: 350px;
  margin: 0 auto;
  background: #43A23B;
  padding: 25px;
  box-sizing: border-box;
  text-align: justify;
  box-shadow: 4px 4px 4px #c4c4c4;
  color: #FFFFFF;
  border-radius: 5px;
}

.teste .card h2{
  text-align: center;
}

.quemSomosTitle{
  color: #092601;
  text-shadow: 2px 2px 2px #c4c4c4;
}
/*---------------------------------------------------------------------------------------*/

/*SEÇÃO PROMOÇÕES*/


.promocao-card{

 color:#092601;
 margin:0.3%;
 margin-bottom: 8%;
 text-align: justify;
 height: 28rem !important;
 border: 0px !important;
 background-color: #FAFAFA!important;

}

#promocoes{
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 4%;
  width:100%;
  background-color:#A7D384;
  color:#FFFFFF;
}

/*---------------------------------------------------------------------------------------*/

/*SEÇÃO ACOMODAÇÕES*/

/*---------------------------------------------------------------------------------------*/
#acomodacoes{

  background-color:#FAFAFA;
  padding-top: 4%;
  padding-left: 5% ;
  padding-right: 5%;
  padding-bottom: 4%;
}
.card-acomodacao{
  max-width: 330px!important;
  min-width: 275px!important;

  margin:2%;
  padding:0%!important;
}

.card-body-acomodacao{
  color:#FFFFFF;
  /* background-color: #43A23B!important; */
  text-align: justify;
  border:0px !important;
  max-height:9rem !important;
  padding-bottom: 5%!important;

}
.card-img-top.img-acomodacoes{
  min-height: 330px!important;
  object-fit: cover;
}

.card-body.card-body-acomodacao{
  background-color: #43A23B!important;
}
.card-body.card-icon-acomodacao{
  background-color: #43A23B!important;
}
.fa-smoking-ban.icon-acomodacoes{
  font-size: 3rem;
  color:#FFFFFF;   
}

.icon-acomodacoes{
  font-size: 2rem;
  color:#FFFFFF;
}

/*DESCRIÇÃO ACOMODAÇÕES*/
.container-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: justify;
  padding:10%;
  padding-bottom: 15;
  padding-top: 15%;
  opacity: 0;
}
.card-acomodacao:hover .container-overlay{
  opacity: 1.0;
  color:#FFFFFF;
  background-color: #43A23B;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.card-acomodacao:hover .icon-acomodacoes{
  opacity: 0;
}

/*---------------------------------------------------------------------------------------*/

/*SEÇÃO CONTATOS*/

/*---------------------------------------------------------------------------------------*/

#contato{
  color:#FFFFFF;
  width: 100%;
  padding-top: 3%;
  padding-left: 5% ;
  padding-right: 5%;
  padding-bottom: 2%;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed!important;
  background:url("../images/holidayinn-contato.png"), rgba(0,0,0,0.6);
  background-blend-mode: multiply;
}

.telefone-contato{
  border-right: 1px solid rgba(250, 250, 250, 0.562);
  border-left: 1px solid rgba(250, 250, 250, 0.562);
}


/*--------------------------------------------------------*/

@media (max-width: 1200px) {
	.carousel-caption {
		top: 55%;
	}
	.carousel-caption h1{
		font-size: 2.5rem;
	}
	.carousel-caption h5 {
		font-size: 1.5rem;
		padding-bottom: 2rem;
	}
	.carousel-caption .btn{
		font-size: 1rem;
		width: 70%;
	}
  .promocao-card{

    margin:0.3%!important;
  }
  #promocoes{
    padding-top: 5%;
    padding-left: 10%!important;
    padding-right: 10%!important;
    padding-bottom: 5%;

  }
  
  /*Acomodações*/
  .card-body.card-body-acomodacao.h4{
    font-size: 1.5rem !important;
  }
  .card-body.card-body-acomodacao.h3{
    font-size: 1.6rem !important;
  }
  .telefone-contato{
    border-right: 1px solid rgba(250, 250, 250, 0.562);
    border-left: 1px solid rgba(250, 250, 250, 0.562);
  }

}

@media (max-width: 991px) {
	.carousel-caption {
		top: 55%;
	}
	.carousel-caption h1{
		font-size: 2.5rem;
	}
	.carousel-caption h5 {
		font-size: 1.5rem;
		padding-bottom: 2rem;
	}
	.carousel-caption .btn{
		font-size: 1rem;
		width: 70%;
	}
  .promocao-card{

    margin:0.2%!important;

  }
  #promocoes{

    padding-top: 5%;
    padding-left: 14% !important;
    padding-right: 14%!important;
    padding-bottom: 5%;

  }

  /*Acomodações*/
  .card-body.card-body-acomodacao h4{
    font-size: 1.4rem !important;
  }
  .card-body.card-body-acomodacao h3{
    font-size: 1.5rem !important;
  }
  .fa-smoking-ban.icon-acomodacoes{
    font-size: 2rem;
  }
  .icon-acomodacoes{
    font-size: 1.5rem;
  }
  .icon-acomodacoes-conteudo{
    margin:0.4%;
  }
  #acomodacoes{
    padding-top: 3%;
    padding-left: 4%!important;
    padding-right: 4%!important;
    padding-bottom: 3%;
  }

  .telefone-contato{
    border-right: 1px solid rgba(250, 250, 250, 0)!important;
    border-left: 1px solid rgba(250, 250, 250, 0)!important;
  }

}

@media (max-width: 767px) {
	.carousel-caption {
		top: 50%;
	}
	.carousel-caption h1, .secao-titulo {
		font-size: 2.5rem;
	}
	.carousel-caption h5 {
		font-size: 1rem;
		padding-bottom: 1rem;

	}
	.carousel-caption .btn{
		font-size: 1rem;
		width: 50%;
  }
  .promocao-card{

    color:#092601;
    margin:1%;
    text-align: justify;


  }
  .titulo-card-promocao{
    text-align: center;
  }
  .promocao-card{

    margin:1%!important;
  }
  .secao-conteudo p{
    font-size: 0.9rem;
  }
  .secao-conteudo h5{
    font-size: 1.2rem;
  }
  #promocoes{
    padding-top: 4%;
    padding-left: 12%!important;
    padding-right: 12%!important;
    padding-bottom: 4%;
  }

  /*Acomodações*/
  
  
  .card-body.card-body-acomodacao h4{
    font-size: 1.3rem !important;
  }
  .card-body.card-body-acomodacao h3{
    font-size: 1.4rem !important;
  }
  
  .telefone-contato{
    border-right: 1px solid rgba(250, 250, 250, 0)!important;
    border-left: 1px solid rgba(250, 250, 250, 0)!important;
  }
}

@media (max-width: 575px) {
	.carousel-caption {
		top: 45%;
	}
	.carousel-caption h1{
		font-size: 1rem;
	}
	.carousel-caption h5{
		font-size: 0.7rem;
		padding-bottom: 1rem;
	}
	.carousel-indicators{
		display: none;
	}
	.carousel-caption .btn{
		font-size: 0.5rem;
		width: 50%;
  }
  .promocao-card{

    margin:0.3%!important;
  }
  .secao-conteudo p{
    font-size: 1rem;
  }
  .secao-conteudo h5{
    font-size: 1.3rem;

  }

  /*Acomodações*/


  .teste .card{
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: #43A23B;
    padding: 25px;
    box-sizing: border-box;
    text-align: justify;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    color: #FFFFFF;
    border-radius: 5px;
  }
  .telefone-contato{
    border-right: 1px solid rgba(250, 250, 250, 0)!important;
    border-left: 1px solid rgba(250, 250, 250, 0)!important;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 40%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/purple.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/* BOTÕES SOCIAL DA LATERAL */
#social {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 22%;
  z-index: 10;
  display: block;
  font-size: 25px;
}

#social div{
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.4);
  cursor: pointer;
  padding-top: 15px;
}

#social div i {
  color: #F8F4F4;
  width: 100%;
  display: block;
}

#one /*Div ICON radius*/ {
  border-radius: 0px 15px 0px 0px;
}
#last /*Div ICON radius*/ {
 border-radius: 0px 0px 15px 0px;
}

/* ----------------------- */
/* BOTÕES SOCIAIS FOOTER */

.footerbtn{
  text-align: center;
  font-size: 35px;
  margin: 0px 0px 0px 0px;
}
.footerbtn i{
 color: #F8F4F4;
}

.credits{
    color: #fff;
    text-align: center;
}
/* Footer */
footer{
  border-top: 3px solid #5C5757;
  background: #242424 !important;
  padding-bottom: 30px;
}

/* ----------------------- */
/* BOTÃO FLUTUANTE */

#floatbtn {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 86%;
  left: 30px; 
  z-index: 10;
  display: block;
  font-size: 20px;
  color: #fff;
  position: fixed;
}

#floatbtn div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    background-color: #43A23B;
    line-height: 50px;
}