<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Holiday inn</title>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="static/css/slick-theme.css" />
  </head>

  <body>
	   <!-- Slider -->
    <div id="slides" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#slides" data-slide-to="0" class="active"></li>
			<li data-target="#slides" data-slide-to="1"></li>
			<li data-target="#slides" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner">
      {% for home in list_home %}
        {% if home.active %}
          <div class="carousel-item drk active">
        {% else %}
          <div class="carousel-item drk">
        {% endif %}
  				<img src="{{ home.image.url }}">
  				<div class="carousel-caption">
  					<h1>{{ home.title }}</h1>
  					<h5>{{ home.description }}</h5>
  					<button class="btn" name="button">Ver acomodações</button>
  				</div>
  			</div>
      {% endfor %}
		</div>
	</div>


    <!--************************************************************************-->

	  <!--Quem somos-->
    <div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 pt-4">
				<h1 class="quemSomosTitle"><strong>Quem somos</strong></h1>
				<p class="quemSomosTitle">{{ quemsomos.description }}</p>
				<hr class="divisoria-titulo mb-0" />
			</div>
		</div>
		<div class="teste">
			<div class="card">
				<div class="layer"></div>
				<div class="">
					<img src="static/images/icon1.png"  class="card-img-top">
				</div>
				<div class="details">
					<h2>Nossa missão</h2>
				</div>
				<div class="content">
					<p>{{ quemsomos.mission }}</p>
				</div>
			</div>
			<div class="card">
				<div class="layer"></div>
				<div class="img">
					<img src="static/images/icon2.png"  class="card-img-top">
				</div>
				<div class="details">
					<h2>Nossa visão</h2>
				</div>
				<div class="content">
					<p>{{ quemsomos.vision }}</p>
				</div>
			</div>
			<div class="card">
				<div class="layer"></div>
				<div class="img">
					<img src="static/images/icon3.png"  class="card-img-top">
				</div>
				<div class="details">
					<h2>Nossos valores</h2>
				</div>
				<div class="content">
					<p>{{ quemsomos.value }}</p>
				</div>
			</div>
		</div>
	</div>

	 <!--************************************************************************-->

    <!--Promoções-->

    <section id="promocoes" class="secao-conteudo">
			<div class="container-fluid">
				<div class="row justify-content-center text-center">
					<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 pt-4">
						<h1 class="secao-titulo"><strong>Promoções</strong></h1>
						<hr class="divisoria-titulo mb-0" />
					</div>
				</div>
				<div class="row justify-content-center text-center">
					<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
						<div class="carousel-promocao responsive autoplay">
              {% for promocoes in list_promocoes %}
              <div class="card promocao-card shadow mb-5">
								<img src="{{ promocoes.image.url }}" class="card-img-top">
								<div class="card-body">
									<h5 class="card-title text-center"><strong>{{ promocoes.title }}</strong></h5>
									<p class="card-text text-promocao">{{ promocoes.description }}</p>
								</div>
							</div>
              {% endfor %}
						</div>
          </div>
        </div>
      </div>
    </section>

		<!--************************************************************************-->

		<!--Acomodações-->

	   <section id="acomodacoes" class="secao-conteudo">
			<div class="container-fluid">
				<div class="row justify-content-center text-center">
					<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 pt-4 p-0">
						<h1 class="secao-titulo"><strong>Acomodações</strong></h1>
						<hr class="divisoria-titulo mb-0" />
					</div>
				</div>
				<div class="row justify-content-center">
					<!--Card 1-->
          {% for quartos in list_quartos %}
              <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 card-acomodacao">
                  <div class="card shadow-lg mb-5">
                      <div class="container-overlay">
                          <!--Descrição-->
                          <h4 class="text-center m-3"><strong>{{ quartos.title }}</strong></h4>
                          <p class="card-text text-promocao">{{ quartos.description }}</p>
                      </div>
                      <!--Preço-->
                      <img src="{{ quartos.image.url }}" class="card-img-top  img-acomodacoes">
                      <div class="card-body card-body-acomodacao">
                          <h4 class="card-title"><strong>{{ quartos.title }}</strong></h4>
                          <p class="card-text text-promocao">
                              A partir de
                          </p>
                          <h3><strong>{{ quartos.price }} BRL</strong></h3>
                      </div>
                      <div class="card-body card-icon-acomodacao p-0 rounded-bottom">
                          <div class="row justify-content-center text-center">
                              <div class="col-md-4">
                                  {% if quartos.smoke %}
                                      <i class="fas fa-smoking icon-acomodacoes"></i>
                                  {% else %}
                                      <i class="fas fa-smoking-ban icon-acomodacoes"></i>
                                  {% endif %}
                              </div>
                              <div class="col-md-4">
                                  <span class="icon-acomodacoes">{{ quartos.peoples }}</span>
                                  <i class="far fa-user icon-acomodacoes"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
				</div>
			</div>


		</section>


		<script src="static/js/jquery-3.4.1.min.js"></script>
		<script src="static/js/jquery-migrate-3.1.0.min.js"></script>
		<script src="static/js/slick.js"></script>
		<script src="static/js/slick.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/main.js"></script>

	</body>

</html>
